body{
    position: relative;
}

#Editing a:hover {

    color: white;
    
}
#writing a:hover{
    color: white;
}
#Rewriting a:hover{

    color: white;
}
writinig:visited{
    color: green;
}

#pos{
    position: inherit;
    left: 98px;
}
